@{
    ViewData["Title"] = "Home Page";
}


    <div style =" widht = 100% " class="text-center"> 
        <img style =" height="
         src="https://user-images.githubusercontent.com/72942574/111349528-7d898600-8681-11eb-8ee8-9be9e27a274f.png" /> </div> 

    <div class=" text-center">
        <h1 class=" display-4">
            <b />KomPas</b>
        </h1>
        <br />
        <p class=" display-4"> <i> For Dog Lovers Only!</i> </p>

    </div>
