@model KompasBySajra.Models.Pas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ime" class="control-label"></label>
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="starosnaDob" class="control-label"></label>
                <input asp-for="starosnaDob" class="form-control" />
                <span asp-validation-for="starosnaDob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rasa" class="control-label"></label>
                <input asp-for="rasa" class="form-control" />
                <span asp-validation-for="rasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tezina" class="control-label"></label>
                <input asp-for="tezina" class="form-control" />
                <span asp-validation-for="tezina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zdravstveniProblemi" class="control-label"></label>
                <input asp-for="zdravstveniProblemi" class="form-control" />
                <span asp-validation-for="zdravstveniProblemi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="kastriranSterilisan" /> @Html.DisplayNameFor(model => model.kastriranSterilisan)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="slika" class="control-label"></label>
                <input asp-for="slika" class="form-control" />
                <span asp-validation-for="slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
